{% extends "ROABundle::layout.html.twig" %}
{% block content %}
	<h1>¡El Objeto se ha almacenado satisfactoriamente!</h1>
	<p> Entra a la secci&oacute;n "Mis Objetos" para obtener una lista de todos tus objetos almacenados<p>
{% endblock content %}