<h1> Activaci&oacute;n de tu cuenta de ROACAR </h1>

<p> Para activar tu cuenta por favor haz click en el siguiente 

<a href="{{ url('perfil_new', {'email':email, 'activacion':usuario.getActivacion()}) }}"> Enlace de activaci&oacute;n </a>

</p>


