<h1> Restauraci&oacute;n de Contrase&ntilde;a </h1>

<p> Tu clave provisional de ROACAR es: {{ clave }}</p>

<p>Luego de iniciar sesi&oacute;n con esta clave recuerda cambiarla por una que se te haga f&aacute;cil de recordar en la opci&oacute;n "Editar Perfil"</p>