#columnas_der{

	/*border: 1px solid black;*/
	float: right;
	width: 655px;
	/*margin-top:20px;*/

}

#columnas_der_admin{

	/*border: 1px solid black;*/
	/*float: right;*/
	/*width: 655px;*/
	margin-top:20px;

}

.imagen_inicio {

	padding: 10px;
	margin: 10px;
}

#imagen_subcategoria{
	position: relative;
	margin-left: 40%;
	width: 50%;
}


.imagen_area{
    width: 300px;
    height: 150px;
    position:relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.title_area{
    position:relative;
    z-index:1000;
    top:5%;
    bottom:5%;
    right:5%;
    left:5%;
    width:100%;
    border-radius:5px;
}


.left-div{
	float:left;
	margin-right: 10px;
  margin-top: 10px;
}

#myCanvas{
	width: 300px;
    height: 150px;
    position:relative;
    background:#1b6c95;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#area_nombre{
	padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 110px;
    color: white;
    border: 0px;
}


.imgWrap {
  position: relative;
  height: 150px;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 22px;
}

.imgDescription {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0;
  height: 80px;
  width: 100%;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  text-align: center;
  padding-top: 70px;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.imagen_area:hover{
    opacity: .2
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}


/* Cosmetic only */
#easyPaginate {width:300px;}
#easyPaginate img {display:block;margin-bottom:10px;}
.easyPaginateNav a {padding:5px;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}