.comentario{
	clear:both;
	margin-bottom:20px;
	overflow: auto;
	/*border-bottom: 1px #CCC solid;
	padding-bottom: 10px;*/
}
.comentario img{
	float:left;
	margin-right:10px;
	width:48px;
	height: 48px;
}
#div_comentarios{
	margin-top: 35px;
}
.formulario_comentario{
	margin-bottom:10px;
}
.ui-widget-content a{
	color: white;
}
a.btn_custom{
	margin-top:10px;
}
