<div class="comentario">
	<div class="alert alert-info mensaje2">
		Tu comentario ser&aacute; publicado brevemente!
	</div>
	<div>
		<p>Recuerda que para ver los comentarios debes acceder a la pesta&ntilde;a "Anotaci&oacute;n" de la Ficha Descriptiva del objeto</p>
	</div>
</div>

